body{
  margin: 0;
  text-align:center;
    color:#40514E;
    font-family: 'Charmonman', cursive;

  }

hr{
  border: 0;
  border-top: 4px dotted grey;
  width:50px;
}
h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  color: #005086;
}
h2{
  color:#005086;
}
p{
  color:#40514E;
}
a{
  color:#005086;
  margin: 10px 20px;
}
a:hover
{
  color: white;
}
.web{
  font-size: 20px;
  font-family: 'Beth Ellen', cursive;
}
.top-container{
  background-color: #b0cac7;
position: relative;
padding-top: 100px;
margin-bottom: 20px;
}
.mid-container
{
  border-top: 0;
  width:200px;
  height: 200px;
  background-color: red;
}
.bottom-container
{

background-color: #b0cac7;
line-height: 2.5;
margin-top: 20px;
padding: 20px 0 10px;
}
.bottom-cloud{
  position:absolute;
  left:300px;
  bottom:300px;
}
.top-cloud{
  position:absolute;
  right: 300px;
  top: 50px;
}
.flower{
  height: 100%;
  width:100px;
    border-radius:30%;
}
.image{
  height: 100%;
  width:100px;
  border-radius:30%;
}
.contact-me{
  text-decoration:none;
  text-align: center;
}
.btn{
  background-color: #b0cac7;
  border-radius: 10%;
  color: #005086;
  padding: 10px 10px;
  font-size: 10px;
  text-decoration: none;

}
.btn:hover{
  background-color: #005086;
  color: white;
}.copy{
  color: white;
  font-size: 10px;
}
